body{
  font-family: 'Raleway', sans-serif;
}
nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.footer{
  background-color: #FCFCFC;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.content-divide{
  margin-top: 100px;
}
